*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color:#777777;
}

/* start common style area */
.container{
	width: 58.75em;
	margin: 0 auto;
	overflow: hidden;
}
.com_h1{
	color:#222222;
	font-size: 48px;
	font-weight: 300;
	text-transform: capitalize;
}
span{
	font-weight: 700;
	color:#222222;

}
/* end common style area */

/* start header area */
header{
	background: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header_content{
	overflow: hidden;
}
.logo{
	width: 10%;
	float: left;
	padding-top: 40px;
}
.logo img{
	width: 100%;
}
.main_menu{
	width: 90%;
	float: right;
}
.main_menu ul{
	float: right;
	padding-top: 40px;
}
.main_menu ul li{
    list-style: none;
    float: left;
}
.main_menu ul li a{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    padding: 0px 30px;
    text-decoration: none;
    display: block;
    }
.main_menu ul li:last-child a{
	padding-right: 0;
}
.banner{
	float: left;
	width: 850px;
	margin: 0 auto;
}
.banner h3 {
	padding-top: 150px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-transform: capitalize;
}
.banner h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding-top: 15px;
	font-size: 48px;
	font-weight: 700;
	word-spacing: 2px;
}
.banner button {
	text-align: center;
	margin: 50px 0px 100px 330px;
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
}
.banner a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
/* end header area */

/* start development area */
.development {
	padding: 60px 0px;
}
.dev_content {
	overflow: hidden;
}
.dev_text {
	width: 69%;
	float: left;
	margin-left: 3%;
}
.dev_text p, .brand_text p {
	font-size: 16px;
	font-weight: lighter;
	padding-top: 24px;
	line-height: 24px;
	word-spacing: 4px;
}
.dev_img{
	width: 23%;
	float: right;
	margin-right: 5%;
}
.dev_img img{
	width: 100%;
}
/* end development area */


/* start branding area */
.branding{
	padding: 60px 0px;
	background: #fafafa;
}
.branding_content{
	overflow: hidden;

}
.brand_img{
	width: 30%;
	float: left;
}
.brand_img img{
	width: 100%;
	padding: 12px 0px;
}
.brand_text{
	float: left;
	width: 65%;
	margin-left: 5%;

}
.brand_text p{
}
/* end branding area */

/* start service area */
#service {
	padding: 60px 0px;
}

.service_content {
}

.box_1, .box_2, .box_3 {
	overflow: hidden;
	padding-bottom: 40px;
}

.box_left, .box_right {
	width: 50%;
	float: left;
}

.man_icon, .web_icon {
	width: 15%;
	float: left;
}
/* common style */
.fas.fa-male, .fab.fa-chrome, .fas.fa-briefcase,.fas.fa-video,
.fas.fa-tablet-alt,.far.fa-star,.fas.fa-camera{
	background: #222222;
	color: #fff;
	border-radius: 50%;
}
/* common style */
.fas.fa-male {
	padding: 10px 22px;
	font-size: 40px;
}
.box_text{
	width: 65%;
	float: left;
	margin-left: 4%;
}
.box_text h4{
	font-size: 20px;
	color: #222222;
}
.box_text p{
	font-size: 14px;
	font-weight: 300;
	padding-top: 10px;
	line-height: 22px;
}

.fab.fa-chrome,.fas.fa-briefcase,
.fas.fa-camera {
	padding: 12px 14px;
	font-size: 35px;
}

.fas.fa-video{
	font-size: 33px;
	padding: 14px 14px;
}
.far.fa-star{
	padding: 12px 12px;
	font-size: 35px;
}
.fas.fa-tablet-alt{
	padding: 13px 16px;
    font-size: 38px;	
}

/* end service area */

/* start clients area */
#clients{
	padding: 60px 0;
	background: #fafafa;
}
.clients_text{
	text-align: center;
}
.clients_text p{
	font-size: 16px;
	font-weight: 300;
	padding-top: 5px;
}
.Jamie_details, .bart_details{
	overflow: hidden;
	margin-top: 40px;
}
.jamie_img,.bart_img{
	width: 20%;
	float: left;
}
.jamie_img img,.bart_img img{
	width: 100%;
}
.jamie_text,.bart_text{
	width: 50%;
	float: left;
	background: #fff;
    padding: 25px 40px;
    margin: 30px 30px;
}
/* start common style */
.Quote{
    font-size: 16px;
    line-height: 30px;
 }
.Client_Name{
	font-size: 12px;
	color:#7690c5;
}
/* end common style */
/* end clients area */

/* start logos area */
.logos{
	padding: 30px 0px;
}
.logos_content{
	overflow: hidden;
}
.logos_content ul{}
.logos_content ul li{
	list-style: none;
	float: left;
	padding: 0px 20px;
}
.logos_content ul li img{
	width: 75%;
}
/* end logos area */

/* start Amazing_Teamarea */
#Amazing_Team{
	padding: 60px 0px;
	background: #000;
}
.Amazing_title{
	text-align: center;
	margin-bottom: 40px;
}
.Amazing_title h1{
	color: #fff;
	font-size: 48px;
	font-weight: 300;
	text-transform: capitalize;
}

.Amazing_title p{
	font-size: 16px;
	font-weight: 300;
	padding-top: 5px;
}
.team{
	width: 33.33%;
	float: left;
}
.team_member{
	margin-left: 20px;
}
.team_member img {
	width: 60%;
	border-radius: 50%;
	border: 3px solid #fff;
	margin: auto;
	display: block;
}
.team_member h3{
	text-align: center;
	color:#fff;
	font-size: 16px;
	font-weight: 500;
	padding-top: 10px;
}
.team_member h4{
	text-align: center;
	color:#ebebeb;
	font-size: 12px;
	font-weight: 300;
	padding-top: 5px;
}
.social{
	padding-top: 25px;
	margin-left: 25%;

}
.social ul{}
.social ul li{
	list-style: none;
	float: left;
}
.social ul li a{
	padding: 0px 5px;
}
.social .fa-twitter,.social .fa-facebook-f,.social .fa-pinterest-p,.social .fa-google-plus-g{
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: 0.5s;
}

.social .fa-facebook-f{
	padding: 10px 14px;
}
.social .fa-facebook-f:hover{
	background: #3b5998;
	border: 1px solid #3b5998;	
}
.social .fa-twitter{
	padding: 10px 10px;
}
.social .fa-twitter:hover{
	background: #00aced;
	border: 1px solid #00aced;
}
.social .fa-pinterest-p{
	padding: 10px 12px;
}
.social .fa-pinterest-p:hover{
	background: #cb2028;
	border: 1px solid #cb2028;	
}
.social .fa-google-plus-g{
	padding: 10px 8px;
}
.social .fa-google-plus-g:hover{
	background: #dd4b39;
	border: 1px solid #dd4b39;	
}
.m_left{
	margin-left: 100px;
}
.team_para{
	overflow: hidden;
	width: 100%;
}
.team_para p{
	padding-top: 30px;
	text-align: center;
	font-size: 16px;
	color:#fff;
	line-height: 30px;
	font-weight: 300;
}
/* end Amazing_Team area */

/* start contact_us area */
#contact_us{
	padding:60px 0px;
	background: #7690c5;
}
.contact_content{
	width: 45%;
	float: left;
	margin-right: 5%;
}
.content_text{}
.content_text h1{
	font-size: 48px;
	font-weight: 300;
	color:#fff;
}
.content_text p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding-top: 10px;
	line-height: 24px;
}
.Contact_1 {
	width: 45%;
	float: left;
	padding-top: 40px;
}
.all_icons{
	overflow: hidden;
}
.all_icon{
	width: 20%;
	float: left;
}
.all_text{
	float: left;
	width: 80%;
}
.all_text p{
	font-size: 14px;
	color:#fff;
	padding-top: 5px;
}
.all_icon .fa-mobile-alt,.all_icon .fa-envelope,.all_icon .fa-twitter,
.all_icon .fa-facebook-f,.all_icon .fa-google-plus-g,
.all_icon .fa-pinterest-p{
	font-size: 25px;
	color:#fff;
}
.contact_form{
	width: 50%;
	float: left;
	margin-top: 9px;
}
.form{
}
.form input{
	width: 100%;
	margin-bottom: 20px;
}

.form input[type="text"], .form input[type="email"], .form textarea{
	background: #fff;
	border: none;
	height: 40px;
	color: #bbbbbb;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 5px;
}
.form textarea{
	width: 100%;
	height: 200px;
	padding-top: 10px;
}
.form input[type="submit"] {
	width: 20%;
	border: none;
	padding: 12px 0px;
	background: #fff;
	color: #bbb;
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 0px;
	border-radius: 5px;
}
.form input[type="submit"]:hover{
	cursor: pointer;
}
/* end contact_us area */

/* start footer area */
.footer{
	background: #7690c5;
	padding: 20px 0;
}
.footer_content{
	border-top: 1px solid #87a0d2;
}
.footer_content p{
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
}
/* end footer area */